Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-07, with the labels that each got.

#563 ITC result table
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0369__itc_result.sql
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Itc.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Labels: service, schema

#578 fix 359
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CloneObservationResultMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/359.scala
Labels: service

#573 test for #1
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1.scala
Labels: service

#581 update sso client
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
Labels: service

#574 change comments to doc strings
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#579 update fs2-aws-s3, fix PartSize
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/S3FileService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/proposalAttachments.scala
Labels: service

#590 sequence optimization
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/SmartGcalExpander.scala
Labels: service, sequence

#587 resolve 388
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Labels: service

#594 Missing gmos filters
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#602 remove unused binding
  modules/service/src/main/scala/lucuma/odb/graphql/binding/DurationBinding.scala
Labels: service

#606 Digest vs Config
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Generator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/SequenceIds.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/arb/ArbGmosLongSlitConfig.scala
  modules/service/src/main/resources/db/migration/V0370__execution_digest.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEffectHandler.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/PlannedTimeCalculator.scala
  modules/service/src/main/scala/lucuma/odb/logic/SmartGcalExpander.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Labels: service, sequence, schema
