Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-06, with the labels that each got.

#485 Future length parameter
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/sequence.scala
Labels: service, schema

#496 Record Step Bindings
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GcalArcBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GcalContinuumBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GcalDiffuserBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GcalFilterBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GcalShutterBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GmosAmpCountBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GmosCustomSlitWidthBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GmosDtaxBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GmosGratingOrderBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosCcdModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosCustomMaskInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosNorthDynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosNorthFpuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosNorthGratingConfigInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosSouthDynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosSouthFpuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosSouthGratingConfigInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordGmosNorthStepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordGmosSouthStepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepConfigGcalInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepConfigInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepConfigScienceInput.scala
Labels: service, schema

#499 Fix the unused RecordGmosSouthStepInput
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#491 ObsAttachment assignment to Observations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0358__obs_attachment_assignment.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObsAttachmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObsAttachmentAssignmentTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentAssignmentService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/ObsAttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
Labels: service, schema

#503 Record Step (Part 2)
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/stepconfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceState.scala
  modules/service/src/main/resources/db/migration/V0359__step.sql
  modules/service/src/main/resources/db/migration/V0360__gmos_dynamic.sql
  modules/service/src/main/scala/db/migration/SmartGmosLoader.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GuideStateBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepConfigScienceInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosNorthStepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosSouthStepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordGmosNorthStepResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordGmosSouthStepResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/StepPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepTable.scala
  modules/service/src/main/scala/lucuma/odb/logic/ConfigChangeEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/EstimatorState.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/service/StepService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Labels: service, sequence, schema

#509 Zipper decoder with either index or selected field
  modules/schema/src/main/scala/lucuma/odb/json/zipper.scala
Labels: schema

#476 Initial Chronicle table auditing
  build.sbt
  modules/service/src/main/resources/db/migration/V0361__chron_program_updates.sql
  modules/service/src/main/resources/db/migration/V0362__chron_asterism_target_updates.sql
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ChronicleOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateAsterisms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
Labels: service

#517 Schema Fixes
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
Labels: service, schema

#527 Allow `jpeg` file extension for finder files
  modules/service/src/main/resources/db/migration/V0366__finder_jpeg_exension.sql
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachments.scala
Labels: service

#549 wip: observed conditions
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0367__chron_conditions_entry.sql
  modules/service/src/main/scala/lucuma/odb/data/Extinction.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/ConditionsExpectationTypeEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/ConditionsMeasurementSourceEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/SeeingTrendEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConditionsEntryInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConditionsExpectationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConditionsIntuitionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConditionsMeasurementInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExtinctionBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddConditionsEntyResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConditionsEntryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConditionsExpectationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConditionsIntuitionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConditionsMeasurementMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/AddConditionsEntryResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ConditionsEntryPredicates copy.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ChronConditionsEntryView.scala
  modules/service/src/main/scala/lucuma/odb/service/ChronicleService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/data/ExtinctionSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addConditionsEntry.scala
Labels: service, schema

#548 Add dataset event
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V0368__dataset_event.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/DatasetFilenameBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/DatasetStageBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddDatasetEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DatasetIdInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddDatasetEventResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetIdMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetEventTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  project/build.properties
  project/plugins.sbt
Labels: service, schema

#535 itc `EffectField`
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Labels: service, schema

#553 ITC `useCache` flag
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Labels: service, schema

#555 Add `sequence` field to Observation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/sequence.scala
Labels: service, schema

#556 Don't hold a transaction open while calling the ITC
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Itc.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Labels: service

#559 Remove deprecated instrument field from sequence codecs
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
Labels: schema
