Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-09, with the labels that each got.

#652 update cloneObservation to set asterism if requested
  modules/service/src/main/scala/lucuma/odb/graphql/input/CloneObservationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/634.scala
Labels: service

#690 Improve duration parse error by including unparseable value
  modules/schema/src/main/scala/lucuma/odb/json/time.scala
  modules/schema/src/test/scala/lucuma/odb/json/TimeSuite.scala
Labels: schema

#691 Use the selected ITC result rather than the first
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service, sequence

#695 Use new method to distinguish the brightest target in an asterism
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Labels: service

#671 Add guide environment
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/cataloginfo.scala
  modules/schema/src/main/scala/lucuma/odb/json/declination.scala
  modules/schema/src/main/scala/lucuma/odb/json/epoch.scala
  modules/schema/src/main/scala/lucuma/odb/json/parallax.scala
  modules/schema/src/main/scala/lucuma/odb/json/plannedtime.scala
  modules/schema/src/main/scala/lucuma/odb/json/propermotion.scala
  modules/schema/src/main/scala/lucuma/odb/json/radialvelocity.scala
  modules/schema/src/main/scala/lucuma/odb/json/rightascension.scala
  modules/schema/src/main/scala/lucuma/odb/json/target.scala
  modules/schema/src/main/scala/lucuma/odb/json/zipper.scala
  modules/schema/src/test/scala/lucuma/odb/json/CatalogInfoSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/DeclinationSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/EpochSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/ParallaxSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/ProperMotionSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/RadialVelocitySuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/RightAscensionSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/TargetSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/conversionTest.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GuideProbeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/MappingExtras.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideEnvironmentService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
Labels: service, schema

#700 Use extension to detect itc errors
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Labels: service

#703 Acquisition signal to noise
  .github/workflows/ci.yml
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0375__acquisition_sn_itc.sql
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Labels: service, schema

#707 Scala 3.3.1 + Library Updates
  .github/workflows/ci.yml
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/ObsAttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/proposalAttachments.scala
  project/plugins.sbt
Labels: service

#704 completed atom counts
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Labels: service

#712 t_step_record.c_completed
  modules/service/src/main/resources/db/migration/V0376__step_completed.sql
  modules/service/src/main/scala/lucuma/odb/data/Md5Hash.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Labels: service

#716 ExecutionDigest Input Hash
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Labels: service

#723 Filter Executed Atoms
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/CompletedAtomMap.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/syntax/all.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/syntax/hash.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/CommitHash.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/SequenceIds.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/PlannedTimeCalculator.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/package.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Labels: service, sequence

#725 Reconcile modes
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Labels: service, sequence
