Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-02, with the labels that each got.

#243 fix proposal class discriminator
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalClassInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalClassMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
Labels: service

#242 checklist "test"
  modules/service/src/test/scala/lucuma/odb/graphql/Checklist.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#244 clean up tests
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateAsterisms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/asterismGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/constraintSetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/target.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/targetEdit.scala
Labels: service

#245 WIP: Mutation/cloneTarget
  modules/service/src/main/resources/db/migration/V0160__target_pairs.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CloneTargetInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CloneTargetResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/CloneTargetResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TargetPairsView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TargetTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
Labels: service

#267 Updates core and friends
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/BandBrightnessInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/BrightnessValueInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/EmissionLineInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/EmissionLinesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/FluxDensityContinuumInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/FluxDensityContinuumValueInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/LineFluxInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/LineWidthInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Labels: service, schema

#275 "fix" issue with binning calculation for observations with more than one source profile
  modules/service/src/main/resources/db/migration/V0170__mode_gen_update.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation.scala
Labels: service

#285 fix RA isssue
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/binding/HourAngleBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RightAscensionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/1939.scala
Labels: service, schema

#282 comment out unused query fields
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#268 Initial Sequence Generation
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/gmos.scala
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/GmosSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/Generator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/Itc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoAtom.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoExecution.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoSequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Generator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/CommitHash.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/SequenceIds.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/GeneratorGmosSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/arb/ArbGmosLongSlitConfig.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/util/CommitHashSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/util/arb/ArbCommitHash.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/client/Itc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/instances/ItcResultEncoder.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/util/NonEmptyListExtensions.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/sequence.scala
  system.properties
Labels: service, sequence, schema

#291 fix obs name computation
  modules/service/src/main/resources/db/migration/V0180__issue_gh_249.sql
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/250.scala
Labels: service
