Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-10, with the labels that each got.

#734 make the refined codec names more consistent
  modules/service/src/main/scala/db/migration/SmartGcalTable.scala
  modules/service/src/main/scala/db/migration/SmartGmosLoader.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetEventTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Labels: service

#738 Update to core 0.86.0, with defaultYBin calculation
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/arb/ArbGmosLongSlitConfig.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/PosShortBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DatasetIdInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Labels: service, sequence

#740 Recording Datasets
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/service/src/main/resources/db/migration/V0377__dataset.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/DatasetQaStateBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddDatasetEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordDatasetInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetIdMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordDatasetResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/DatasetIdPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/DatasetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/RecordDatasetResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetEventTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetTable.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
Labels: service, schema

#739 Include group info on Observation view
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service, schema

#744 add parent information to groups
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GroupView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/groupEdit.scala
Labels: service, schema

#745 remove cached itc result when replacing a target with its clone
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/687.scala
Labels: service

#750 update libs: Adds duration to parallactic angle calculation.
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideEnvironmentService.scala
Labels: service

#754 Dataset queries
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/service/src/main/resources/db/migration/V0378__datasets_update.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/DatasetIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddDatasetEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DatasetIdInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDataset.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereEq.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereOptionEq.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetIdMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordDatasetResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/DatasetIdPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/DatasetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetEventTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetTable.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/DatasetSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/dataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasets.scala
Labels: service, schema

#761 updateDatasets mutation
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DatasetPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateDatasetsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateDatasetsResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateDatasets.scala
Labels: service

#762 set dataset times on event reception
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetTable.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
Labels: service

#764 Consider datasets in completed step query
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Labels: service

#765 Fixes skunk decode exception when observation has no configuration
  modules/service/src/main/scala/lucuma/odb/service/GuideEnvironmentService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
Labels: service

#710 Grackle 0.14
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/EnumBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/EnumeratedBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TagBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TypedEnumBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/VariableRefBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/ConditionsExpectationTypeEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/ConditionsMeasurementSourceEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/FilterTypeEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/ObsAttachmentTypeEnum.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/PartnerEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/ProposalAttachmentTypeEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/SeeingTrendEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/extensions.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DecimalInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AsterismGroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConstraintSetGroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosNorthStaticMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosSouthStaticMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEffectHandler.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetGroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/MappingExtras.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/PrettyPrinter.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/Remapper.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/SchemaSemigroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addConditionsEntry.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
Labels: service, schema

#766 Json Updates
  modules/schema/src/main/scala/lucuma/odb/json/wavelength.scala
  modules/schema/src/test/scala/lucuma/odb/json/WavelengthSuite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/Checklist.scala
Labels: service, schema

#771 Return all usable guide environments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideEnvironmentService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
Labels: service, schema

#776 Use data from Generator in AGS
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideEnvironmentService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
Labels: service

#779 Execution Queries
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0379__execution_event_view.sql
  modules/service/src/main/resources/db/migration/V0380__datasets_update.sql
  modules/service/src/main/scala/lucuma/odb/data/ExecutionEventType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/ExecutionEventIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddDatasetEventResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddSequenceEventResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddStepEventResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosAtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosNorthVisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosSouthVisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SequenceEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepConfigMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ExecutionEventPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/VisitPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetEventTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExecutionEventView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SequenceEventTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepEventTable.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordAtom.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionQueries.scala
Labels: service, schema

#785 Select atom records
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/InstrumentBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordAtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDataset.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosAtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosStepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LookupFrom.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordAtomResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordGmosAtomResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SelectSubquery.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepConfigMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/AtomRecordPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/StepRecordPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordTable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordAtom.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionQuerySetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDatasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionEvents.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionQueries.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionVisits.scala
Labels: service, schema

#788 Checklist and `interface`
  modules/service/src/test/scala/lucuma/odb/graphql/Checklist.scala
Labels: service
