Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-08, with the labels that each got.

#617 Unmapped delete mutations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#614 Fix documentation and schema query parameter type
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#627 Program Planned Time
  .scalafmt-common.conf
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/plannedtime.scala
  modules/service/src/main/scala/lucuma/odb/data/GroupTree.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  project/plugins.sbt
Labels: service, schema

#631 Unify field ampReadMode
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosCcdModeInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Labels: service, schema

#636 Add ccd mode and roi parameters to itc calls
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Labels: service, sequence

#638 Program-wide PlannedTimeRange Improvements
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0371__bytea_hash_type.sql
  modules/service/src/main/scala/lucuma/odb/data/Md5Hash.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/PlannedTimeRangeService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Labels: service, schema

#630 Adds the target role (science, guide) to the target table
  modules/service/src/main/resources/db/migration/V0372__target_role.sql
  modules/service/src/main/scala/lucuma/odb/data/TargetRole.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TargetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TargetView.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Labels: service

#641 Program planned time range calculation update
  modules/service/src/main/scala/lucuma/odb/logic/PlannedTimeRangeService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Labels: service

#662 WIP: static metadata endpoint
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/export/enumMetadata.scala
Labels: service

#678 Select target on asterisms based on brightness
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Labels: service
