Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-05, with the labels that each got.

#392 groups
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/service/src/main/resources/db/migration/V0290__groups.sql
  modules/service/src/main/scala/lucuma/odb/data/Group.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GroupIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/NonNegShortBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/ShortBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateGroupInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateGroupsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereGroup.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CreateGoupResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupElementMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateGroupsResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/CreateGroupResultPredicate.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/GroupElementPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/GroupPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/LeafPredicate.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GroupElementView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GroupView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/MappingExtras.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/PrettyPrinter.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service, sequence, schema

#396 fix migration
  modules/service/src/main/resources/db/migration/V0291__groups_fix.sql
Labels: service

#398 Move Group.Id to lucuma-core
  build.sbt
  modules/service/src/main/scala/lucuma/odb/data/Group.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/GroupIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereGroup.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/GroupElementPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/GroupPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service

#405 Update to the latest lucuma-itc client
  build.sbt
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Itc.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service, sequence

#394 Timing windows
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0310__timing_windows.sql
  modules/service/src/main/scala/lucuma/odb/data/TimingWindowEndTypeEnum.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TimingWindowEndInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TimingWindowInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TimingWindowRepeatInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimingWindowMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TargetView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TimingWindowView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimingWindowService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TimingWindowsGraph.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timingWindows.scala
Labels: service, schema

#393 groups channel
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0295__groups_channel.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupEditInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/GroupEditPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/GroupTopic.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/groupEdit.scala
Labels: service, sequence, schema

#409 move migration
  modules/service/src/main/resources/db/migration/V0320__groups_channel.sql
Labels: service

#408 remove event ids
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0330__remove_event_id.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/GroupTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TargetTopic.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/groupEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/targetEdit.scala
  populate-db-from-staging.sh
Labels: service, schema

#431 lib updates and logging
  build.sbt
  modules/service/src/main/resources/logback.xml
  modules/service/src/main/scala/db/migration/SmartGcalTable.scala
  modules/service/src/main/scala/db/migration/SmartGmosLoader.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/MoreResultInstances.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/Matcher.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/PlannedTimeCategoryMeta.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/TimeEstimateMeta.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/PosAngleConstraintInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereOrder.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereUnorderedTag.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/EmissionLineInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/PartnerSplitsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimingWindowService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/Checklist.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
Labels: service

#435 royal sampler
  build.sbt
  modules/service/src/main/resources/db/migration/V0340__groups_fix_2.sql
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service

#441 update default conditions
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConstraintSetInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Labels: service

#444 Planned time migration
  modules/service/src/main/resources/db/migration/V0341__gmos_readout.sql
  modules/service/src/main/resources/db/migration/V0342__planned_time_updates.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/PlannedTimeCategoryMeta.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/TimeEstimateMeta.scala
Labels: service

#451 Notifiy observation subscription on timing windows change
  modules/service/src/main/resources/db/migration/V0350__timing_windows_trigger.sql
Labels: service

#464 Add triggers for program edit events for attachments
  modules/service/src/main/resources/db/migration/V0352__attachment_events.sql
Labels: service

#470 Observation c_instrument column update
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0353__observation_instrument.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service, schema

#462 transaction reorg
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ObsAttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ProposalAttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Itc.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/PartnerSplitsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalAttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimingWindowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/proposalAttachmentRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Labels: service
