Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-03, with the labels that each got.

#292 recompute asterism groups when targets are deleted
  modules/service/src/main/resources/db/migration/V0190__issue_gh_249_for_real.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AsterismGroupMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/249.scala
Labels: service

#294 Bugfix: sequence query permission
  modules/service/src/main/resources/db/migration/V0200__generator_params.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/sequence.scala
Labels: service

#295 Replace missing field in atom
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/sequence.scala
Labels: service, schema

#280 Mutation/cloneObservation
  modules/service/src/main/resources/db/migration/V0170__observation_pairs.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CloneObservationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CloneObservationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/CloneObservationResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationPairsView.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Labels: service

#298 Uniquify migration version numbers
  modules/service/src/main/resources/db/migration/V0175__observation_pairs.sql
Labels: service

#299 fReorder observation pairs migration
  modules/service/src/main/resources/db/migration/V0210__observation_pairs.sql
Labels: service

#301 time field for GS atom
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
Labels: schema

#303 Execution config hack
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/sequence.scala
Labels: service, schema

#308 respect mah includeDeleted
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TargetGroupPredicates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/307.scala
Labels: service
