Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-04, with the labels that each got.

#335 Use Decline for args
  Procfile
  README.md
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#272 Brightness Edit Bug
  modules/service/src/main/scala/lucuma/odb/graphql/binding/Matcher.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/GaussianInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SourceProfileInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SpectralDefinitionInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Labels: service

#345 Library Updates
  .scalafmt.conf
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Main.scala
  project/plugins.sbt
Labels: service

#340 SignalToNoise
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/service/src/main/resources/db/migration/V0250__update_table_with_views.sql
  modules/service/src/main/resources/db/migration/V0260__signal_to_noise_adj.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/SignalToNoiseBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SpectroscopyScienceRequirementsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/logic/Itc.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Labels: service, sequence, schema

#358 Add missing spaces in asterism deletion SQL statements
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
Labels: service

#362 Planned time enums
  modules/service/src/main/resources/db/migration/V0270__planned_time.sql
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/PlannedTimeCategoryMeta.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/TimeEstimateMeta.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/extensions.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#364 trusted
  modules/service/src/main/scala/lucuma/odb/Main.scala
Labels: service

#367 Upgrade lucuma-graphql-routes & clue
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/AttachmentIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuiteWithS3.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachmentRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
Labels: service

#371 Delete lucuma.odb.data.Timestamp
  modules/service/src/main/scala/lucuma/odb/data/Timestamp.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TimestampBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObsAttachmentTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/data/TimestampSuite.scala
  modules/service/src/test/scala/lucuma/odb/data/arb/ArbTimestamp.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Labels: service

#376 Add additional selection fields to `WhereObsAttachment`
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObsAttachment.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereUnorderedTag.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachments.scala
Labels: service, schema

#379 Updated to use the new itc api
  .envrc
  .gitignore
  build.sbt
  flake.lock
  flake.nix
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Generator.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Itc.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service, sequence
