Repository gemini-hlsw/lucuma-odb, pull requests merged in 2023-01, with the labels that each got.

#198 library updates
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/instances/SourceProfileCodec.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Labels: service

#200 Observation/title
  modules/service/src/main/resources/db/migration/V0030__observations.sql
  modules/service/src/main/resources/db/migration/V0070__targets.sql
  modules/service/src/main/resources/db/migration/V0080__asterism.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targetGroup.scala
Labels: service

#204 generalize switchmapping
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/NonNegDurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/PlannedTimeSummaryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/MappingExtras.scala
Labels: service

#205 Observation/plannedTime
  modules/service/src/main/resources/db/migration/V0030__observations.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/NonNegDurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/PlannedTimeSummaryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service

#202 GMOS Long Slit Science Sequence Generation Preliminary
  .mergify.yml
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoAtom.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoSequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoStep.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/exposureTime.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/DynamicOptics.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/GmosNorthInitialDynamicConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/GmosSouthInitialDynamicConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/GmosLongSlitConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/arb/ArbGmosLongSlitConfig.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WavelengthDitherInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMath.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosLongSlitInput.scala
Labels: service

#209 add some synthetic ids
  modules/service/src/main/resources/db/migration/V0030__observations.sql
  modules/service/src/main/resources/db/migration/V0130__observation_updates.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service

#207 schemas module?
  .mergify.yml
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/angle.scala
  modules/schema/src/main/scala/lucuma/odb/json/numeric.scala
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/schema/src/main/scala/lucuma/odb/json/wavelength.scala
  modules/schema/src/test/scala/lucuma/odb/json/SourceProfileCodecSuite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcInputService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Labels: service

#215 query vs transport
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/angle.scala
  modules/schema/src/main/scala/lucuma/odb/json/gmos.scala
  modules/schema/src/main/scala/lucuma/odb/json/numeric.scala
  modules/schema/src/main/scala/lucuma/odb/json/offset.scala
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/schema/src/main/scala/lucuma/odb/json/stepconfig.scala
  modules/schema/src/main/scala/lucuma/odb/json/time.scala
  modules/schema/src/main/scala/lucuma/odb/json/wavelength.scala
  modules/schema/src/test/scala/lucuma/odb/json/AngleSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/GmosSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/OffsetSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/SourceProfileSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/StepConfigSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/TimeSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/WavelengthSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/conversionTest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/instances/ItcResultEncoder.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcInputService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Labels: service, schema

#219 fix CatalogName mapping
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TargetView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
Labels: service, schema

#225 TimeSpan - lucuma-core 0.63
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/gmos.scala
  modules/schema/src/main/scala/lucuma/odb/json/time.scala
  modules/schema/src/test/scala/lucuma/odb/json/TimeSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/exposureTime.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/DynamicOptics.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/GmosNorthInitialDynamicConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/GmosSouthInitialDynamicConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TimeSpanBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/client/Itc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DurationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/NonNegDurationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalClassInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SetAllocationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TimeSpanInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/instances/ItcResultEncoder.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/NonNegDurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AllocationTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcInputService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/PartnerSplitsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service, sequence, schema

#231 bugfix
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#233 wip: target edit
  modules/service/src/main/resources/db/migration/V0140__target_changes.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/Matcher.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CatalogInfoInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateTargetInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SiderealInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateTargetsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereTarget.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/FluxDensityContinuumInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/GaussianInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SourceProfileInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SpectralDefinitionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateObservationsResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateTargetsResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/asterismGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/target.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targets.scala
Labels: service
