Repository gemini-hlsw/lucuma-odb, pull requests merged in 2024-12, with the labels that each got.

#1500 `addProgramUser` mutation
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0933__fallback.sql
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/OrcidIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddProgramUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/LinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UserProfileInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereUserProfile.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddProgramUserResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserProfileMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserProfileTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserTable.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentAssignmentService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TestSsoClient.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TestUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Labels: service, schema

#1509 Reset Acquisition
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Labels: service, sequence, schema

#1510 Unify the file attachments.
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0934__attachments_rewrite.sql
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ProposalAttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/AttachmentIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/ObsAttachmentTypeEnum.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/ProposalAttachmentTypeEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AttachmentPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObsAttachmentPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateAttachmentsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereAttachment.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AttachmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObsAttachmentFileExtMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObsAttachmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObsAttachmentTypeMetaMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalAttachmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalAttachmentTypeMetaMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateAttachmentsResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/AttachmentPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ObsAttachmentPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AttachmentTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObsAttachmentAssignmentTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObsAttachmentFileExtensionTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObsAttachmentTypeTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalAttachmentTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalAttachmentTypeTable.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentAssignmentService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/ObsAttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachmentRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/proposalAttachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
  project/plugins.sbt
Labels: service, schema

#1511 Use central wavelength for guide star stuff
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceAvailabilityHashSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceGuideStarHash.scala
Labels: service

#1512 Allow COIs to create invitations
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Labels: service

#1513 workflow optimizations
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Labels: service

#1516 Use common code for call limits checks
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/limits.scala
  modules/schema/src/main/scala/lucuma/odb/json/time.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Labels: service, schema

#1517 batch execution cache check
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Labels: service

#1514 Include emissions lines in check for target brightnesses
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Labels: service

#1524 CfP Creation Bug
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
Labels: service

#1530 applicable observations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_applicableObservations.scala
Labels: service, schema

#1533 specphot wavelength for s n measurement from average of science
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Labels: service
