Repository gemini-hlsw/lucuma-odb, pull requests merged in 2024-03, with the labels that each got.

#1026 Remove unused input
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#1032 Interface Issue
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordGmosStepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordGmosVisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosCcdModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosCustomMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosDynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosFpuMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosGratingConfigMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LookupFrom.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepConfigMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/syntax/instrument.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1023.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionStepRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionVisits.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Labels: service, schema

#1036 UpdateObsAttachmentInput
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateObsAttachmentsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObsAttachment.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachments.scala
Labels: service, schema

#1035 UpdateAsterismsInput
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateAsterismsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateAsterisms.scala
Labels: service, schema

#1037 remove OdbError construction from mapping layer
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ChronicleService.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Labels: service

#1018 Fix empty interval issue
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingState.scala
  modules/service/src/test/scala/lucuma/odb/service/TimeAccountingStateSuite.scala
Labels: service

#1039 integrate asterism-setting into obs create/clone
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Labels: service

#1040 integrate time accounting for event insertion
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
Labels: service

#1042 push program reference resolution into service layer
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Labels: service

#1045 ObservationReference (Take 2)
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0847__observation_reference.sql
  modules/service/src/main/scala/lucuma/odb/data/ObservationReference.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/ObservationReferenceBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CloneObservationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservationReference.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationReferenceMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ObservationPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationReferenceView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/data/ObservationReferenceSuite.scala
  modules/service/src/test/scala/lucuma/odb/data/arb/ArbObservationReference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Labels: service, schema

#1046 dynamic sequence creation update
  modules/service/src/main/resources/db/migration/V0848__semester_index.sql
Labels: service

#1048 Fix observation reference trigger comparison
  modules/service/src/main/resources/db/migration/V0849__observation_reference_bugfix.sql
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
Labels: service

#1050 DatasetReference
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0850__step_index.sql
  modules/service/src/main/resources/db/migration/V0851__dataset_reference.sql
  modules/service/src/main/scala/lucuma/odb/data/DatasetReference.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDataset.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetReferenceMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetReferenceView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/data/DatasetReferenceSuite.scala
  modules/service/src/test/scala/lucuma/odb/data/arb/ArbDatasetReference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Labels: service, schema

#1056 Update core, use core references
  build.sbt
  modules/service/src/main/scala/lucuma/odb/data/DatasetReference.scala
  modules/service/src/main/scala/lucuma/odb/data/ObservationReference.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/DatasetReferenceBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/ObservationReferenceBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CloneObservationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/DatasetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ObservationPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/data/DatasetReferenceSuite.scala
  modules/service/src/test/scala/lucuma/odb/data/ObservationReferenceSuite.scala
  modules/service/src/test/scala/lucuma/odb/data/arb/ArbDatasetReference.scala
  modules/service/src/test/scala/lucuma/odb/data/arb/ArbObservationReference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Labels: service

#1061 Fix GCAL Mapping Issue
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1060.scala
Labels: service

#1058 top-level group query
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/GroupPredicates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/group.scala
Labels: service, schema

#1068 fix migration
  modules/service/src/main/resources/db/migration/V0852__execution_event_updates.sql
  modules/service/src/main/resources/db/migration/V0853__execution_event_updates2.sql
Labels: service

#1081 invitation recipient
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0854__invitation_recipient.sql
  modules/service/src/main/scala/lucuma/odb/data/EmailAddress.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/EmailAddressBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserInvitationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserInvitationTable.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Labels: service, schema

#1077 access control in some service method types
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/ChronicleService.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionUserCheck.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addConditionsEntry.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateDatasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionStepRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Labels: service

#1093 Update regex for emails
  modules/service/src/main/resources/db/migration/V0855__recipient_email.sql
  modules/service/src/main/scala/lucuma/odb/data/EmailAddress.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
Labels: service
