Repository gemini-hlsw/lucuma-odb, pull requests merged in 2024-04, with the labels that each got.

#1086 Spectroscopy Config Options
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0856__spectroscopy_matrix.sql
  modules/service/src/main/resources/db/migration/V0857__spectroscopy_matrix_gmos_north.sql
  modules/service/src/main/resources/db/migration/V0858__spectroscopy_matrix_gmos_south.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/FocalPlaneBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/SiteBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/SpectroscopyCapabilitiesBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereAngle.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereBoolean.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereSpectroscopyConfigOption.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereWavelength.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SpectroscopyConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/LeafPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Labels: service, schema

#1075 Reference Updates
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0859__program_reference_update.sql
  modules/service/src/main/resources/db/migration/V0860__program_reference_update2.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramReferencePropertiesCommissioningInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramReferencePropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramReferencePropertiesMonitoringInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramReferenceMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
Labels: service, schema

#1098 Remove unused input
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#1099 introspection test
  modules/service/src/test/scala/lucuma/odb/graphql/query/introspection.scala
Labels: service

#1071 Add createProposal, updateProposal and setProposalStatus mutations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateProposalInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SetProposalStatusInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProposalInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CreateProposalResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SetProposalStatusResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateProposalResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/CreateProposalResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/SetProposalStatusResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/UpdateProposalResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/PartnerSplitsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/asterismGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/constraintSetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targetGroup.scala
Labels: service, schema

#1103 Require PiAccess for the proposal mutations
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Labels: service

#1107 StepExecutionState
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/StepExecutionState.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionStepRecords.scala
Labels: service, schema

#1108 Filter out GAIA bands on ITC calls
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
  modules/service/src/test/scala/lucuma/odb/service/GaiaFreeSuite.scala
Labels: service

#1101 WIP: try to repro/resolve #1094
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/revokeUserInvitation.scala
Labels: service

#1106 Add missing program edit subscription events
  modules/service/src/main/resources/db/migration/V0861__more_program_edit_events.sql
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Labels: service

#1110 Use the latest version of lucuma-core
  build.sbt
  modules/service/src/main/scala/lucuma/odb/data/EmailAddress.scala
  modules/service/src/main/scala/lucuma/odb/data/UserInvitation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/EmailAddressBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RedeemUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RevokeUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UserInvitationIdInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CreateUserInvitationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/UserInvitationPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/redeemUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/revokeUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Labels: service

#1113 somewhat more access control
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Labels: service

#1114 Call for Proposals
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0862__call_for_proposals.sql
  modules/service/src/main/scala/lucuma/odb/data/CallForProposalsType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/CallForProposalsBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/CallForProposalsTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CallForProposalsPartnerInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CallForProposalsPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateCallForProposalsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CallForProposalsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CallsForProposalsSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CreateCallForProposalsResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/CallForProposalsPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/CallForProposalsView.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callsForProposals.scala
Labels: service, schema

#1124 Acquisition Sequence Correction
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/CompletedAtomMap.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/Completion.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/SequenceIds.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Labels: service, sequence

#1125 ShortCut 2772 + lucuma.core 0.96.1
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2772.scala
Labels: service

#1137 Test ITC failure during sequence generation
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Labels: service

#1142 unlink user
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UnlinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
Labels: service, schema

#1138 WHERE CFP
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0863__call_for_proposals_update.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereCallForProposals.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CallForProposalsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimestampIntervalMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/CallForProposalsView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callsForProposals.scala
Labels: service, schema

#1144 Edit Support for Call For Proposals
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/Nullable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CallForProposalsPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateCallsForProposalsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CallForProposalsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateCallsForProposalsResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateCallsForProposals.scala
Labels: service, schema

#1150 Surround `existsUserAccess` with () if has multiple clauses
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
Labels: service

#1151 improve error handling
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1145 Add invitation emails
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/resources/db/migration/V0864__emails.sql
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/data/EmailId.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/EmailWebhookRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/EmailMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserInvitationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/EmailTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserInvitationTable.scala
  modules/service/src/main/scala/lucuma/odb/service/EmailService.scala
  modules/service/src/main/scala/lucuma/odb/service/EmailWebhookService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/email/emailWebhookRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/redeemUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/revokeUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideAvailability.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Labels: service, schema

#1156 Change message for invitation emails.
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/email/emailWebhookRoutes.scala
Labels: service

#1158 Atom Events
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0865__atom_event.sql
  modules/service/src/main/resources/db/migration/V0866__atom_event2.sql
  modules/service/src/main/scala/lucuma/odb/data/AtomExecutionState.scala
  modules/service/src/main/scala/lucuma/odb/data/ExecutionEventType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/AtomStageBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddAtomEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddAtomEventResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExecutionEventTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccounting.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingState.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionEvents.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
  modules/service/src/test/scala/lucuma/odb/service/ArbTimeAccounting.scala
  modules/service/src/test/scala/lucuma/odb/service/ArbTimeAccountingState.scala
  modules/service/src/test/scala/lucuma/odb/service/TimeAccountingStateSuite.scala
Labels: service, schema

#1166 Add atom id to migration
  modules/service/src/main/resources/db/migration/V0866__atom_event2.sql
Labels: service

#1164 CFP Titles
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0867__cfp_titles.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CallForProposalsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/CallForProposalsView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callForProposals.scala
Labels: service, schema
