Repository gemini-hlsw/lucuma-odb, pull requests merged in 2024-08, with the labels that each got.

#1330 Migrate CalibrationRole to core
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/CalibrationRole.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereTarget.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TargetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targets.scala
Labels: service, sequence, schema

#1325 Time Accounting Categories
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0898__time_accounting_category.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TimeAccountingCategoryBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AllocationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SetAllocationsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AllocationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AllocationTable.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service, schema

#1333 CFP `allowsNonPartnerPi`
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0899__cfp_non_partner.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereCallForProposals.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CallForProposalsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/CallForProposalsView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callsForProposals.scala
Labels: service, schema

#1334 NonPartner (and unspecified partner) Partner Options
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/PartnerLink.scala
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/partnerlink.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbPartnerLink.scala
  modules/schema/src/test/scala/lucuma/odb/json/PartnerLinkSuite.scala
  modules/service/src/main/resources/db/migration/V0900__partner_link.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/PartnerLinkTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/LinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/PartnerLinkInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserInvitationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserInvitationTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/redeemUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
Labels: service, schema

#1336 clone group
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0901__group_pairs.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CloneGroupInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CloneGroupResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/CloneGroupResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GroupPairsView.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneGroup.scala
Labels: service, schema

#1337 Make the PI a `ProgramUser`
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0902__pi_role.sql
  modules/service/src/main/resources/db/migration/V0903__program_user_update.sql
  modules/service/src/main/scala/lucuma/odb/data/ProgramUserRole.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/LinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/LeafPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Labels: service, schema

#1338 Update observation time
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0904__observation_time.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationTimesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateObservationsTimesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservationsTimes.scala
Labels: service, schema

#1339 Add WhereProgramUser
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/binding/UserTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WherePartnerLink.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TestUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Labels: service, schema

#1340 `programUsers` query
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/redeemUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/revokeUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Labels: service, schema

#1341 Update a user's partner
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProgramUsersInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateProgramUsersResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Labels: service, schema

#1352 Update core 103
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/PartnerLink.scala
  modules/schema/src/main/scala/lucuma/odb/json/partnerlink.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbPartnerLink.scala
  modules/schema/src/test/scala/lucuma/odb/json/PartnerLinkSuite.scala
  modules/service/src/main/scala/lucuma/odb/data/ProgramUserRole.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/PartnerLinkTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/ProgramUserRoleBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/LinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/PartnerLinkInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WherePartnerLink.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserInvitationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/redeemUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Labels: service, schema

#1351 Add calibration time change and adjust the target when it changes
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/resources/db/migration/V0905__obs_time_channel.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationTimesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/CalibTimeTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Labels: service, calibrations

#1357 Test Case for Negative LST Bug
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/input/CoordinateLimitsInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
Labels: service

#1361 Educational status and thesis
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/EducationalStatus.scala
  modules/service/src/main/resources/db/migration/V0906__educational_status.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/EducationalStatusBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereOptionBoolean.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Labels: service, schema

#1363 Remove unneeded calibration observations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0907__delete_observations_trigger.sql
  modules/service/src/main/scala/lucuma/odb/data/EditType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ObservationEditPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramEditTable.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Labels: service, schema

#1366 Fix best calibration target selection
  .graphqlrc
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Labels: service

#1367 Set worst conditions for constraints
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConstraintSetInput.scala
Labels: service
