Repository gemini-hlsw/lucuma-odb, pull requests merged in 2024-06, with the labels that each got.

#1217 Dataset comments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0878__dataset_comments.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/DatasetPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordDatasetInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDataset.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetTable.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateDatasets.scala
Labels: service, schema

#1215 grackle-0.20
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/schema/src/main/scala/lucuma/odb/json/target.scala
  modules/schema/src/main/scala/lucuma/odb/json/timeaccounting.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosCustomMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeChargeDiscountMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/MappingExtras.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service, schema

#1224 GMOS FPU nulls
  modules/schema/src/main/scala/lucuma/odb/json/gmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Labels: service, schema

#1228 Science Sequence Reset
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/Completion.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
Labels: service, sequence

#1225 Add validations to observations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/ObservationValidation.scala
  modules/service/src/main/scala/lucuma/odb/data/ObservationValidationMap.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Labels: service, schema

#1230 Allow multiple cors domains
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1234 Update core, remove transferred code
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/ObservationValidation.scala
  modules/service/src/main/scala/lucuma/odb/data/CallForProposalsType.scala
  modules/service/src/main/scala/lucuma/odb/data/ObservationValidationMap.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/CallForProposalsTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CallForProposalsPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereCallForProposals.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/syntax/scienceSubtype.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/asterismGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/constraintSetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targetGroup.scala
Labels: service, schema

#1208 max connections
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1239 Target Calib role
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0880__calibration_reference_data.sql
  modules/service/src/main/scala/lucuma/odb/data/CalibrationRole.scala
  modules/service/src/main/scala/lucuma/odb/data/TargetRole.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetGroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TargetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TargetView.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Labels: service, schema

#1247 add allocations field on type Program
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocation.scala
Labels: service, schema

#1248 Fix internal error in observation validation when proposal has no cfp
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Labels: service

#1254 Configuration variable to allow CORS over plain http
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1260 Fix GH issue 1237
  modules/service/src/main/resources/db/migration/V0884__update_program_type.sql
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1237.scala
Labels: service

#1258 Nighttime Arc Policy
  modules/sequence/src/main/scala/lucuma/odb/sequence/Generator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SmartGcalExpander.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/CalLocation.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/Completion.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/IdBase.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoStep.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/default.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/CoreGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/SmartGcalImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1023.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2772.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionNighttimeArcs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideAvailability.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Labels: service, sequence

#1263 Calib service scaffolding
  .mergify.yml
  Procfile
  build.sbt
  modules/calibrations/src/main/resources/logback.xml
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Labels: service
