Repository gemini-hlsw/lucuma-odb, pull requests merged in 2024-09, with the labels that each got.

#1374 Migrate to new ITC API with asterisms
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/GmosSpectroscopyRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/SpectroscopyRow.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/PureLongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/ScienceAtomSequenceState.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V0908__itc_asterism.sql
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ObsAttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ProposalAttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CoordinatesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SiteCoordinateLimitsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereBoolean.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereOptionBoolean.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetGroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/email/emailWebhookRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1023.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservationsTimes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionNighttimeArcs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/FileReaderSuite.scala
Labels: service, sequence, schema, smartgcal, calibrations, phase0

#1376 Make EducationalStatus and thesis nullable
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Labels: service

#1369 Delete orphan calibration targets
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Labels: service

#1377 Use core enum
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/EducationalStatus.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/EducationalStatusBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Labels: service, schema

#1379 Add ability to save guide target, change guideEnvironment
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/service/src/main/resources/db/migration/V0910__guide_stars_revisited.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationTimesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SetGuideTargetNameInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEffectHandler.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SetGuideTargetNameResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/SetGuideTargetNameResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setGuideTargetName.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservationsTimes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceAvailabilityHashSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceGuideStarHash.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceHashSuite.scala
Labels: service, sequence, schema

#1382 Make separate guide target name query for Explore
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setGuideTargetName.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideTargetName.scala
Labels: service, schema

#1380 Twilight calibrations
  modules/service/src/main/resources/db/migration/V0911__twilight_fields.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigsForCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/249.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/asterismGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
Labels: service

#1391 approved configurations
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/main/scala/lucuma/odb/json/coordinates.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/resources/db/migration/V0912__observation_reference_date.sql
  modules/service/src/main/resources/db/migration/V0913__configuration_requests.sql
  modules/service/src/main/scala/lucuma/odb/data/Configuration.scala
  modules/service/src/main/scala/lucuma/odb/data/ConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ObsAttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ProposalAttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/ConfigurationRequestIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateConfigurationRequestInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationConditionsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CoordinatesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ConfigurationRequestPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
  modules/service/src/main/scala/lucuma/odb/syntax/resultT.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Labels: service, schema, calibrations

#1393 add "for review" bit
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0914__for_review.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Labels: service, schema, calibrations

#1398 Improve the calculation of twilight targets
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Labels: service

#1399 split support roles
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0915__secondary_support.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/LinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
Labels: service, schema

#1406 scalafix
  modules/service/src/main/scala/lucuma/odb/Main.scala
Labels: service

#1387 Fix trigger on t_target_asterism to exclude deleted targets from observation title (sc-3036)
  modules/service/src/main/resources/db/migration/V0916__sc_3062_obs_title.sql
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/307.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/1939.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3062.scala
Labels: service
