Repository gemini-hlsw/lucuma-odb, pull requests merged in 2025-02, with the labels that each got.

#1601 ShortCut 1957: Add Missing Exposure Time Mode Migration
  modules/service/src/main/resources/db/migration/V0948__exposure_time_mode.sql
Labels: service

#1602 ShortCut 4602: Drop `t_program_type`
  modules/service/src/main/resources/db/migration/V0949__program_type_abbr.sql
Labels: service

#1592 Readonly COIs cannot access accepted program
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentAssignmentService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4457.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Labels: service

#1603 disallow submission with undefined observations
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4457.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4460.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/constraintSetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
Labels: service

#1606 attempt to fix backups
  modules/service/src/main/resources/db/migration/V0950__fix_references.sql
  test-restore.sh
Labels: service

#1609 ShortCut 3897: data sharing
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0951__external_users.sql
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/goaAccessQuery.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/deleteProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/redeemUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Labels: service, schema

#1611 ShortCut 3897: Control access to hasDataAccess flag
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Labels: service, schema

#1610 ShortCut 3897: allow multiple GOA users and staff
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/goaAccessQuery.scala
Labels: service, schema

#1607 Allow staff users to call `observationsByWorkflowState`
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
Labels: service

#1614 ShortCut 3347: Count non-partner as US
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Labels: service

#1617 Add instrument to where observation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service, schema

#1619 Don't advance ids for opposite sequence type
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/IndexTracker.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Labels: service, sequence

#1618 Only notify if something changes
  modules/service/src/main/resources/db/migration/V0952__filter_edit_events.sql
Labels: service

#1620 fix decoding error
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4822.scala
Labels: service

#1621 ShortCut-4745: active period
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0953__program_active_period.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/CallForProposalsPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/date.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DateIntervalMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateCallsForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Labels: service, schema

#1616 ShortCut 3202: specphot science band
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
Labels: service

#1622 ShortCut 4838: Restrict `WhereProgramUser` to PI
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Labels: service

#1623 ShortCut 3202: Select the highest priority (lowest ordinal) band.
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Labels: service

#1615 SC-4596 Part 1
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/service/src/main/scala/lucuma/odb/data/Nullable.scala
  modules/service/src/main/scala/lucuma/odb/data/OdbErrorExtensions.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/syntax/observationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setGuideTargetName.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Labels: service, schema

#1625 ShortCut 4839: dataset events
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0954__dataset_event.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DatasetEditInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereBoolean.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDataset.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/DatasetEditPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/DatasetTopic.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/dataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/datasetEdit.scala
Labels: service, schema

#1630 Remove program id from attachment endpoints
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachmentRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
Labels: service
