Repository gemini-hlsw/lucuma-odb, pull requests merged in 2025-04, with the labels that each got.

#1707 Enable Slew Events
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/VisitRecord.scala
  modules/service/src/main/resources/db/migration/V0976__visit_chargeable.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSlewEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitTable.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSlewEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionQuerySetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDatasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionEvents.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionStepRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionVisits.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/executionEventAdded.scala
Labels: service, sequence, schema, expected-breaking-change

#1709 Migrate core: ImageQuality and CloudExtinction Presets
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConstraintSetInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/constraintSetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observingModeGroup.scala
Labels: service, sequence, schema, expected-breaking-change

#1672 ProgramService access control
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targets.scala
Labels: service

#1713 Create base image for db tests
  modules/service/src/Dockerfile
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1714 `resetAcquisition`
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/stream.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V0977__reset_acq.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ResetAcquisitionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ResetAcquisitionResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ResetAcquisitionResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Labels: service, sequence, schema, expected-breaking-change

#1716 Filter zero exposure time
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExposureTimeModeInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/timeAndCountExposureTimeMode.scala
Labels: service, sequence, schema

#1702 Switch to Http4s Ember server
  build.sbt
  modules/service/src/main/resources/logback.xml
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1718 Remove guide environment check for too long of observation duration
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
Labels: service

#1717 Use timestamp of a custom SED as part of the itc validation hash
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Labels: service, sequence

#1722 Revert "Merge pull request #1702 from gemini-hlsw/ember-server"
  build.sbt
  modules/service/src/main/resources/logback.xml
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1725 Shortcut 3202: `null` value compare bug
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Labels: service

#1723 Sample test to reproduce shortcut 5331
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/LongBinding.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5331.scala
Labels: service, binding

#1734 Add flamingos2longslit observingmode
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2DeckerBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2DisperserBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2FilterBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2FpuBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2ReadModeBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2ReadoutModeBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2ReadsBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2WindowCoverBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/package.scala
  modules/service/src/main/resources/db/migration/V0979__f2_long_slit_mode_type.sql
  modules/service/src/main/resources/db/migration/V0980__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/package.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/F2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TimingWindowService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
  modules/service/src/main/scala/lucuma/odb/util/F2Codecs.scala
  modules/service/src/test/scala/lucuma/odb/data/arb/ArbNullable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Labels: service, sequence, schema, expected-breaking-change, binding

#1735 Support deleting observations with f long slit mode
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentAssignmentService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service, sequence

#1737 Update some libraries
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1736 Support editing observations with f2 long slit
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0981__update_f2_trigger.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service, schema, expected-breaking-change

#1738 Support cloning f2 observations
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Labels: service

#1740 Add initial fields for disperser, filter and fpu
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0982__add_f2_initial_columns.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/F2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service, schema

#1743 Updates to F2 model, filter is required and decker/readmode have a default
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0983__add_f2_updated_columns.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/F2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service, schema, expected-breaking-change

#1746 Update dependency on lucuma-itc
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
Labels: service

#1747 Add missing filter
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Labels: schema

#1749 Some adjustments to f2 enums
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0984__f2_enums_updates.sql
Labels: service, schema

#1750 Update lucuma-core
  build.sbt
  modules/service/src/main/scala/lucuma/odb/logic/GmosReadoutTime.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/parsers/GmosNorthParsersSuite.scala
Labels: service, smartgcal

#1755 Fix filter being optional and create GeneratorParams for F2
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/package.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
Labels: service, sequence
