Repository gemini-hlsw/lucuma-odb, pull requests merged in 2025-05, with the labels that each got.

#1761 Remove readMode and reads from the configuration
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V0985__flamingos2_read_mode.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/F2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service, sequence, schema, expected-breaking-change

#1764 Update F2 spectroscopy modes
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
Labels: phase0

#1766 Shortcut 4365: JSON codecs + misc
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/f2.scala
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/Flamingos2Suite.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/SmartGcalImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/data/Flamingos2.scala
Labels: service, schema, smartgcal, expected-breaking-change

#1767 Shortcut 4365: recordFlamingos2Visit
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0987__f2_static.sql
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2StaticInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordFlamingos2VisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2StaticMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordFlamingos2VisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2StaticTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/main/scala/lucuma/odb/util/Flamingos2Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbFlamingos2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Labels: service, schema

#1770 Shortcut 5608: instrument reference name migration bug
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0990__instrument_reference_name.sql
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
Labels: service, schema

#1771 Shortcut 4365: recordFlamingos2Step
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2CustomSlitWidthBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2LyoutWheelBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0991__f2_dynamic.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2CustomMaskInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2DynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2FpuMaskInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordFlamingos2VisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordStepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordVisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/util.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2CustomMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2DynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2FpuMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosCustomMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordFlamingos2VisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordGmosNorthVisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordGmosSouthVisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordStepResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordVisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2DynamicView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
  modules/service/src/main/scala/lucuma/odb/util/Flamingos2Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Labels: service, schema, expected-breaking-change, binding

#1775 Shortcut 4365: F2 placeholder sequence
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/flamingos2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/Flamingos2InitialDynamicConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/package.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
Labels: service, sequence, schema

#1776 fix tracing for ws
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ConfigurationRequestTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/DatasetTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ExecutionEventAddedTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/GroupTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/OdbTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TargetTopic.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TraceSuite.scala
Labels: service, calibrations, obscalc

#1778 Shortcut 4365: split `ExecutionTestSupport`
  modules/service/src/test/scala/lucuma/odb/graphql/feature/timeAndCountExposureTimeMode.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1023.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2772.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3660.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5331.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setGuideTargetName.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhot.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideAvailability.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideTargetName.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditOnCachedResultUpdate.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Labels: service

#1779 Shortcut 4365: Use the proper F2 acquisition filter
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
Labels: service, sequence

#1780 Shortcut 4365: F2 acquisition sequence tests
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/flamingos2.scala
  modules/schema/src/main/scala/lucuma/odb/json/gmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/testsyntax/execution.scala
Labels: service, schema

#1781 Shortcut 4365: F2 science sequence tests
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
Labels: service, sequence

#1782 Shortcut 4365: return the proper ITC imaging mode for F2 spectroscopy acquisition
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Labels: service

#1783 Shortcut 4365: Addendum
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Labels: service

#1774 Some changes to when groupEdit events are sent
  modules/service/src/main/resources/db/migration/V0993__group_edit_changes.sql
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/groupEdit.scala
Labels: service

#1786 Shortcut 4365: Hook up F2 AGS
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Labels: service

#1787 Bump versions
  .scalafmt.conf
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/flamingos2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/service/src/main/scala/lucuma/odb/util/Flamingos2Codecs.scala
Labels: service, sequence, schema
