Repository gemini-hlsw/lucuma-odb, pull requests merged in 2025-07, with the labels that each got.

#1845 Include spatial offsets on F2 config
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Labels: service, sequence

#1849 Fix encoding of f2 default spatial offsets
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service

#1854 sc-6006 fix access control issue
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6006.scala
Labels: service

#1862 Allow not specifying filters when editing gmos imaging modes.
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service

#1859 Atom digest
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V1010__atom_digest.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedAtomDigestsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomDigestTable.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/atomDigests.scala
Labels: service, schema

#1867 Remove unused deprecated fields
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordAtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RightAscensionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeChargeDiscountMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/1939.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/groupEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Labels: service, schema, expected-breaking-change

#1869 Replace `digest` mapping with `calculatedDigest`
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditOnCachedResultUpdate.scala
Labels: service, schema, expected-breaking-change

#1873 Remove `Execution.atomDigests`
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedAtomDigestsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomDigestTable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/atomDigests.scala
Labels: service, schema, expected-breaking-change

#1877 Shortcut 6246: Update smart gcal tables
  modules/smartgcal/src/main/resources/smartgcal/GMOS-N_ARC.csv
  modules/smartgcal/src/main/resources/smartgcal/GMOS-N_FLAT.csv
  modules/smartgcal/src/main/resources/smartgcal/GMOS-S_FLAT.csv
Labels: smartgcal

#1878 Shortcut 6121: exposure time mode count
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1013__etm_count_constraint.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExposureTimeModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service, schema, expected-breaking-change

#1875 Shortcut 5684: read binning from mode table
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/arb/ArbGmosLongSlitConfig.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInputSuite.scala
Labels: service, sequence

#1884 Shortcut 4938: Chronicle table for `t_dataset`
  modules/service/src/main/resources/db/migration/V1015__dataset_chron.sql
  modules/service/src/test/scala/lucuma/odb/graphql/ChronicleOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateDatasets.scala
Labels: service, skip-sc

#1886 Shortcut 6298: CfP title override
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1016__cfp_title_override.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/CallForProposalsPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateCallsForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callForProposals.scala
Labels: service, schema

#1888 Shortcut 4938: dataset chron update query
  modules/binding/src/main/scala/lucuma/odb/data/DatabaseOperation.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/DatabaseOperationBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1018__dataset_chron_view.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetChronicleEntryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetChronicleEntrySelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetReferenceMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/DatasetChronicleEntryPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ChronDatasetUpdateView.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateDatasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasetChronicleEntries.scala
Labels: service, schema, binding, skip-sc

#1892 Shortcut 6168: switch to new R400 grating
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1020__r400.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/observingModeGroup.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/parsers/GmosNorthParsersSuite.scala
Labels: enhancement, help wanted, good first issue, service, sequence, schema, smartgcal, expected-breaking-change, skip-sc
