Repository gemini-hlsw/lucuma-odb, pull requests merged in 2025-06, with the labels that each got.

#1788 Support imaging requirements in the odb
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0995__imaging_science_requirements.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ImagingScienceRequirementsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ScienceRequirementsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SpectroscopyScienceRequirementsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ImagingScienceRequirementsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ScienceRequirementsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SpectroscopyScienceRequirementsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/timeAndCountExposureTimeMode.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2772.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5331.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service, schema, expected-breaking-change

#1791 Trace Gaia calls
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Labels: service

#1794 Set idleConnectionTime for http client
  modules/service/src/main/scala/lucuma/odb/Config.scala
Labels: service

#1798 Gmos binning
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosBinningBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosXBinningBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/db/migration/SmartGmosLoader.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosCcdModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosDynamicTables.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/logic/GmosReadoutTime.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/GmosCommonParsers.scala
Labels: service, schema, smartgcal, expected-breaking-change, binding

#1809 Bump versions, switch Gaia adapter
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1818 Remove piAffiliation from FastTurnaround proposals
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1002__remove_piaffiliation_from_ft.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Labels: service, schema, expected-breaking-change

#1831 remove inner `run`
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
Labels: sequence

#1830 Add support for f2 longslit offsets
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1005__flamingos2_spatial_offsets.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbFlamingos2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Labels: service, sequence, schema

#1820 SC-657 too targets in schema
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/arc.scala
  modules/service/src/main/resources/db/migration/V1005__opportunity_target.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ArcInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/OpportunityInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RegionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ArcMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OpportunityMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RegionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TargetView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/MappingExtras.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  schemaspy/project/build.properties
Labels: service, schema

#1835 Renumber migration
  .github/workflows/ci.yml
  build.sbt
  modules/service/src/main/resources/db/migration/V1006__flamingos2_spatial_offsets.sql
Labels: service

#1836 Renumber migrations in the other order...
  modules/service/src/main/resources/db/migration/V1005__flamingos2_spatial_offsets.sql
  modules/service/src/main/resources/db/migration/V1006__opportunity_target.sql
Labels: service

#1837 split migration
  modules/service/src/main/resources/db/migration/V1006__opportunity_target.sql
  modules/service/src/main/resources/db/migration/V1007__opportunity_target_2.sql
Labels: service

#1834 Add initial filters column to gmos imaging
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1008__gmos_imaging_initial_filters.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service, schema
