Repository gemini-hlsw/lucuma-odb, pull requests merged in 2025-03, with the labels that each got.

#1626 Shortcut 4779: update core (and other libraries) to fix an issue with acq filters
  .scalafmt.conf
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Labels: service

#1624 SC-4596 part two
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Labels: service

#1634 Shortcut 4873: Filter out deleted targets
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationsServiceSuite.scala
Labels: service

#1637 Shortcut 4836: Add GMOS acquisition breakpoints
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Labels: service, sequence

#1638 Updated list of SEDs
  build.sbt
  modules/phase0/src/main/scala/lucuma/odb/phase0/SpectroscopyRow.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/UnnormalizedSedInput.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
Labels: service, sequence, schema, phase0

#1646 Sort spectroscopy config options
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
Labels: service

#1644 access control for `createObservation`
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Labels: service

#1650 Shortcut 4671: program notes (part 1)
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0955__program_notes.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/ProgramNoteIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateProgramNoteInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramNotePropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CreateProgramNoteResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramNoteMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramNotePredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramNoteTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramNoteService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgramNote.scala
Labels: service, schema

#1654 Shortcut 4671: program notes (part 2)
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramNote.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramNoteSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgramNote.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programNote.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programNotes.scala
Labels: service, schema

#1655 Migration to add fluxDensitiesAttachment
  modules/service/src/main/resources/db/migration/V0966__add_fluxDensitiesAttachment.sql
Labels: service

#1658 Basic support for the new ITC supporting time and count exposure mode
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2772.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhot.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Labels: service, sequence, schema, expected-breaking-change

#1660 Shortcut 4836: Acquisition breakpoint update
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoStep.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Labels: service, sequence

#1665 Fix duration used for parallactic angle calculation
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Labels: service

#1657 Shortcut 4671: Program Notes Update
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProgramNotesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateProgramNotesResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramNotePredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramNoteService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramNotes.scala
Labels: service, schema

#1648 Shortcut 4428: remove obsolete items
  build.sbt
  modules/phase0/src/main/scala/lucuma/odb/phase0/GmosSpectroscopyRow.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V0967__remove_obsolete.sql
  modules/service/src/main/scala/db/migration/R__Phase0.scala
  modules/service/src/main/scala/db/migration/R__SmartGmosNorth.scala
  modules/service/src/main/scala/db/migration/R__SmartGmosSouth.scala
  modules/service/src/main/scala/db/migration/SmartGcalMigration.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_applicableObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
  modules/smartgcal/src/main/resources/smartgcal/GMOS-N_ARC.csv
  modules/smartgcal/src/main/resources/smartgcal/GMOS-N_FLAT.csv
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gcal.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gmosNorth.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gmosSouth.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/parsers/GmosNorthParsersSuite.scala
Labels: service, sequence, schema, smartgcal, phase0, expected-breaking-change

#1668 Update for AGS guide star selection changes
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
Labels: service

#1669 Shortcut 4428: restore original GMOS Smart Gcal definition files
  modules/smartgcal/src/main/resources/smartgcal/GMOS-N_ARC.csv
  modules/smartgcal/src/main/resources/smartgcal/GMOS-N_FLAT.csv
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/FileReader.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/Availability.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gmosNorth.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/util.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/FileReaderSuite.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/parsers/GmosNorthParsersSuite.scala
Labels: smartgcal

#1675 Remove deleted f2 filters
  build.sbt
  modules/phase0/src/main/scala/lucuma/odb/phase0/F2SpectroscopyRow.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/TimeEstimateCalculator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/service/src/main/resources/db/migration/V0968__removed_f2_filters.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/LinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/UnnormalizedSedInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/GmosReadoutTime.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TestSsoClient.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/GmosCommonParsers.scala
Labels: service, sequence, schema, smartgcal, phase0, expected-breaking-change

#1683 Shortcut 4994: Remove Partner Time
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/timeaccounting.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoStep.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/resources/db/migration/V0970__no_partner_time_01.sql
  modules/service/src/main/resources/db/migration/V0971__no_partner_time_02.sql
  modules/service/src/main/scala/lucuma/odb/data/TimeCharge.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeChargeDiscountMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TimeChargeDiscountTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccounting.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhot.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Labels: service, sequence, schema, expected-breaking-change

#1690 WhereExecutionEvent Update
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereExecutionEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionEvents.scala
Labels: service, schema, expected-breaking-change

#1692 Fix for error calculating itc invalid tagged type
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
Labels: service

#1676 Shortcut 4973: Explicitly mark observations as complete
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V0972__declared_complete.sql
  modules/service/src/main/resources/db/migration/V0973__declared_complete2.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service, sequence, schema

#1699 Update lucuma-core to remove Bhros FPU and some old instruments.
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0974__remove_old_instruments_and_bhros_fpu.sql
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/syntax/instrument.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/introspection.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/targetEdit.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gmosSouth.scala
Labels: service, schema, smartgcal, calibrations, expected-breaking-change

#1701 SC-4973 part 2
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Labels: service, schema, expected-breaking-change

#1703 Store the full SignalToNoiseAt of itc results
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0975__reset_itc.sql
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Labels: service, schema, expected-breaking-change
